body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#invisibleflex {
	width: 100%;
	height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#bodybox {
	background-color: white;
	width: 75%;

}

h1 {
	font-family: "Helvetica Neue";
	font-size: 40px;
    color: black;
    font-weight: 100;
    padding-left: 5%;
    padding-right: 5%;
}

.issuetext {
	width: 75%;
	margin:auto; 
	font-family: "Helvetica Neue";
	font-size: 18px;
    color: black;
    font-weight: 100;
    text-align: right;
}

.text {
	display: inline-block;
	font-family: "Helvetica Neue";
	font-size: 100px;
	font-weight: 100;
	text-align: left;
	width: 75%;
}

.button {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: "Helvetica Neue";
    font-weight: 100;
    font-size: 18px;
	text-decoration: none;
}

.credits {
    font-family: "Helvetica Neue";
    font-weight: 100;
    font-size: 12px;
    text-align: center;
}

.creditslink {
    text-decoration: none;
}
